version: '3.0'

services:
  grafana:
    container_name: 'greptime-grafanagreptime-datasource'
    build:
      context: ./.config
      args:
        grafana_version: ${GRAFANA_VERSION:-9.1.2}
    ports:
      - 3000:3000/tcp
    environment:
      - GF_DEFAULT_APP_MODE=development
    volumes:
      - ./dist:/var/lib/grafana/plugins/greptime-grafanagreptime-datasource
      - ./provisioning:/etc/grafana/provisioning
