apiVersion: 1

datasources:

  - name: Dev-cloud-example
    type: mofengfeng-greptimedb-datasource
    access: proxy
    orgId: 1
    url: https://example.us-west-2.aws.greptime.cloud
    isDefault: false
    jsonData:
      database: example-public
    
    basicAuth: true
    basicAuthUser: exampleuser
    secureJsonData:
      basicAuthPassword: examplepassword

    editable: true